{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block content %}
<div dir="ltr">
<h3>Welcome to medepartout Website.</h3>
<h5>The Site is Under Construction. </h5>
<p> Medepartout is a platform dedicated to medic geeks, designed with the aim of dispatching medical insights across borders. Our mission is to foster collaboration and knowledge-sharing among students and experts in various fields, transcending geographical limitations.</p>

<p> Our initial offering features an app tailored for medical history-taking, crafted with the needs of specialists in mind. While our focus is niche, our aspirations are vast. We strive to cultivate a community where geeks :) can exchange ideas, stay updated on the latest developments, and elevate their practice to new heights.</p>
    
<p> As we navigate this journey, we remain grounded in our commitment to excellence. We understand the importance of continuous improvement and eagerly anticipate expanding our offerings to cater to the evolving needs of our community.</p>
    
<p> Join us as we embark on this journey to foster excellence and collaboration among learners worldwide. Together, let's harness the power of collective expertise to make a meaningful impact in our respective fields.</p>
    
<p> Thank you for being a part of the Medepartout community.</p>
<p>Check <a href= "{% url 'cases_list' %}" style="font-size:20px" class=""><b>Cases App</b></a></p>

<p style="color:gray;font-size:12px">The text above is written with free version of Chat-GPT with some modifications. </p>
</div>
{% endblock content %}