{% extends "base.html" %}
{% block title %}Cases{% endblock title %}
{% block content %}
{% for case in case_list reversed %}
{% if case.verified and case.slug %}
<div class="card vazirmatn">
<div dir="rtl" class="card-header">
<a href="{% url 'case_detail' case.slug %}"><span class="font-weight-bold">{{ case.title }}</span></a> &emsp; &middot; &emsp;
<span dir="ltr" styles="display: flex; justify-content: center;" class="text-muted"> {{ case.date_created|date:"d M"  }}   &emsp; By {{ case.author.first_name }} {{ case.author.last_name }} | {{ case.author.degree }}
</span>
</div>
<div dir="rtl" class="card-body">
{{ case.description|safe }}
</div>
<div class="card-footer text-left text-muted" dir='ltr'>
    {{ case.followup|length }} Daily Notes | {{ case.comment|length }} Comments
{% if user.username == case.author.username %}
<a href="{% url 'case_edit' case.slug %}">Edit</a> | 
<a href="{% url 'case_delete' case.slug %}">Delete</a>
{% endif %}

{% comment %} {% if case.followup|length == 0 %}
No Daily Note Added
{%elif case.followup|length == 1 %}
1 Daily Note
{%else%} {% endcomment %}

{% comment %} {%endif%} {% endcomment %}
</div>
</div>
<br />
{% endif %}
{% endfor %}
{% endblock content %}