{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>    
    button {
        border: none;
        padding: 10px
    }

</style>
<h1>ویرایش</h1>

    <form action="" method="post" autocomplete="off">{% csrf_token %}
        <div class="createForm">
        {{ form|crispy }}
        <div class="editDelete">
            <button class="btn btn-info ml-2 fix" id="primaryButton" hidden type="submit">Update</button>
        </div>

    </div>
    </form>


{% endblock content %}

{% block sidebarLeft %}

<button type="submit" class="btn btn-info ml-2 editDelete"
       id="secondaryButton" 
       onclick="document.getElementById('primaryButton').click()">Update</button>
{% endblock sidebarLeft%}